current_100_search.json
current_101-200_search.json
current_job_search.json
extracted_data_total_hits.json
desired_fields_original.txt
customize_from_dictionaries.py
historical_100_search.json
*.db
find_path.py